<ion-header>
  <ion-navbar>
    <ion-title>
      Fechar Chamados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    selecione a fila para listar
  </p>
  <ion-list>

    <ion-item>
      <ion-label fixed>Fila</ion-label>
      <ion-select [(ngModel)]="fila">
        <ion-option value="">Seleciona a fila</ion-option>
        <ion-option *ngFor="let fila of filas" value="{{ fila.id }}">{{ fila.name }}</ion-option>
      </ion-select>
    </ion-item>

    <p>
      <button (click)="listar()" ion-button color="default">Listar</button>
    </p>

  </ion-list>
  <h3>
    {{ tituloChamado }}
  </h3>
  <ion-list>
    <button ion-item *ngFor="let chamado of items" (click)="itemSelected(item)">
      #{{ chamado.id }} - {{ chamado.titulo }}
    </button>
  </ion-list>

</ion-content>
